/* The popup chat - hidden by default */
.chat-popup {
    display: block;
    height: 70%;
    width: 30%;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    height: 100%;
    padding: 10px;
    background-color: white;
  }
  
  .form-container .displaymsg {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    resize: none;
    height: 65%;
    overflow: auto;
  }
  
  /* Full-width textarea */
  .form-container input {
    width: 75%;
    padding: 5px;
    float:left;
    margin-top: 1px;
    margin-right: 2px;
    border: none;
    background: #f1f1f1;
    resize: none;
    height: 30px;
  }

  .form-container .sub{
    background: blueviolet none repeat scroll 0 0;
    margin-left: 15px;
    margin-top: 6px;
    border: medium none;
    border-radius: 15%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 33px;
    right: 7px;
    top: 11px;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* When the textarea gets focus, do something */
  .form-container input:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* The Close Button */
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0px 16px;
  }
  
  
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }